body.me {
  background-color: purple;
  }
  a:hover[href="file:///C:/Users/smith/OneDrive/Desktop/html100/portfolio/index.html"] {
    background-color: red;
    padding:inherit;
    }
  a:hover[href="file:///C:/Users/smith/OneDrive/Desktop/html100/portfolio/semantic-elements.html"] {
      background-color: red;
      padding:inherit;
  }
  a:hover[href="#"] {
      background-color: red;
      padding:inherit;
  }
  a:hover[href="file:///C:/Users/smith/OneDrive/Desktop/html100/portfolio/about-me.html"] {
      background-color: red;
      padding:inherit;
  }

  .red-text {
    color: red;
    font-style: italic;
    font-size: 20px
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

  .about-me {
    color: blue;
    font-weight: bolder;
    font-size: 50px
  }

  .short-bio {
    color: blue;
    font-weight: bold;
    font-style: oblique;
    font-size: 35px;
  }
  img {
    border-style: solid;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

  footer {
    font: arial;
    font-size: 10px;
    font-style: normal;
  }
  body.about-me {
    background-color: purple;
  }
  body.home{
    background-color: #0097c7;
  }
  h2 {
    color: blue;
    font-weight: bold;
    font-style: oblique;
    font-size: 35px;
  }
  h1 {
    color: blue;
    font-weight: bolder;
    font-size: 50px;
    text-align:center;
    text-decoration: underline;
  }
  main.main {
    text-align: center;
  }
  p.semantic {
    color: red;
  }
  body.semantic {
    background-color: #0097c7;
  }
  p.home {
    color: red;
    font-style: italic;
  }
